.card {
  border: 3px solid black;
  margin: 10px;
  width: 30%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.name,
.email {
  margin: 20px;
}

.name {
  font-size: 30px;
}

.ascending-btn {
  margin-left: 10px;
}