.App {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);  
}

.card {
  border: 3px solid black;
  margin: 10px;
  width: 30%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.name,
.email {
  margin: 20px;
}

.name {
  font-size: 30px;
}

.ascending-btn {
  background-color: #ffcc66;
  border-radius: 15px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  color: black;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 10px;
}